.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin-bottom: 0;
}

input.phone {
  width: 140px;
}

td button {
  padding: 0 12px;
  margin-bottom: 0;
}

th,
td.center {
  text-align: center;
}

.unsaved {
  position: fixed;
  margin: 12px 0 0 12px;
  padding: 4px 8px;
  width: 152px;
  border-radius: 4px;
  background-color: red;
}

.icon {
  width: 16px;
  height: 16px;
  padding-top: 10px;
}

.buttons-fixed {
  position: fixed;
  margin: 12px;
  display: flex;
  flex-direction: column;
}

.button-save {
  height: 44px;
  width: 44px;
  border-radius: 100px;
  padding: 0 12px;
  margin-bottom: 0px;
}

.button-save .icon {
  padding-top: 13px;
}

/* Tailwind CSS */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.gap-2 {
  gap: 0.5rem;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}

/* !Tailwind CSS */
